*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

*.properties
sports.war.original

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
sidebar-menu.json
#ActividadDeportiva.java
#CentroDistribucion.java
#Distribucion.java
#Establecimiento_Evento.java
#EstablecimientoDeportivo.java
#Evento.java
#Foto.java
#Inscripcion.java
#Mensajeria.java
#ermiso.java
#Reservaciones.java
#Reto.java
#Review.java
#Rol.java
#Servicio.java
#Supscripcion.java
#TipoEvento.java
#TipoServicio.java
#Tiquete.java
#Usuario.java
