<div class="col-md-8">
	<div class="panel" ng-controller="RegistrarUsuarioModalController">
		<form name="formUsuario" ng-submit="submitForm()" novalidate="" class="form-validate form-horizontal">      		   			
	   				<div class="panel-body" ng-init="accion='delete'">
						<legend>Contraseña</legend>	
                  		<fieldset>
                     		<div class="form-group">
                        		<label class="col-sm-2 control-label">Contraseña</label>
                        			<div class="col-sm-6">
                           				<input type="password" name="contrasenna" required="" ng-model="usuario.nuevaContrasenna" class="form-control" />
                           				<span ng-show="validateInput('contrasenna', 'required')" class="text-danger">Este campo es requerido</span>
                        			</div>                        
                     		</div>
							<br>
							<div class="form-group">
                        		<label class="col-sm-2 control-label">Confirmar Contraseña</label>
                        			<div class="col-sm-6">
                           				<input type="password" name="confirmarContasenna" required="" ng-model="usuario.confirmarContrasenna" ui-validate="'$value==usuario.nuevaContrasenna'" ui-validate-watch="'validator.usuario.nuevaContrasenna'" class="form-control" />
                           				<p ng-show="validateInput('confirmarContasenna', 'validator')" class="text-danger">Las contraseñas no coinciden.</p>
                        			</div>                        
                     		</div>
                  		</fieldset>
                  		<div class="text-center">
               				<button type="submit" class="btn btn-info">Aceptar</button>
							<a ng-click="cancel()" class="btn btn-warning">Cancel</a> 
						</div>   
               		</div>     		
			</form>
	</div>
</div>