<h3>Establecimientos Deportivos</h3>
<!-- START panel-->
<toaster-container	toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
<div class="row">
   	<div class="col-lg-12">
   		<div class="col-md-6">
  			<div class="input-group">
  				<span class="input-group-addon"><em class="icon-magnifier"></em></span>
       			<input id="busquedaNombre" placeholder="Buscar..." type="text" class="form-control" ng-model="search"/>
   			</div>
   		</div>
  		<div ng-controller="EstablecimientosController" class="col-md-6">
  			<div  class="form-group">
               	<a ng-show="validarUsuarioRol()" ui-sref="app.registrarEstablecimiento" class="btn btn-labeled btn-success" ><span class="btn-label"><em class="fa fa-plus"></em></span>Registrar</a>
        	</div>
  		</div>
     </div>
</div>
<!-- END panel-->
<div class="row">
	<div class=" col-lg-12">
		<div ng-controller="EstablecimientosController" class="">
			<div
				ng-repeat="establecimiento in Establecimientos | filter:search:strict"">
				<div class="col-lg-3">
					<!-- START widget-->
					<div class="panel widget">
						<div class="half-float">
							<img src="app/img/soccerBanner2.jpg" alt=""
								class="img-responsive" />
							<div class="half-float-bottom">
								<img src="app/img/no_image.jpg" alt="Image"
									class="img-thumbnail img-circle thumb128" />
							</div>
						</div>
						<div class="panel-body text-center">
							<h3 class="m0">{{establecimiento.nombre}}</h3>
							<p class="text-muted">{{establecimiento.direccion}}</p>
							<p>{{establecimiento.paginaWeb}}</p>
						</div>
						<div class="panel-body text-center bg-gray-dark">
							<div>
								<div class="btn-group btn-group-justified" role="group">
									<div class="btn-group" role="group"
										ui-sref="app.perfil({mid: establecimiento.idEstablecimientoDeportivo})">
										<button type="button" class="btn btn-primary">
											<span class="fa fa-search"></span>
										</button>
									</div>
									<div ng-show="validarUsuarioId(establecimiento)" class="btn-group" role="group">
										<button type="button" class="btn btn-green"
											ui-sref="app.modificarEstablecimiento({id: establecimiento.idEstablecimientoDeportivo})">
											<span class="fa fa-pencil"></span>
										</button>
									</div>
									<div ng-show="validarUsuarioId(establecimiento)" class="btn-group" role="group"
										ng-controller="EliminarModalController">
										<button
											ng-click="open(establecimiento.idEstablecimientoDeportivo)"
											type="button" class="btn btn-warning">
											<span class="fa fa-trash"></span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END widget-->
				</div>
			</div>
		</div>
		<!-- Modal Controller-->
		<div >
			<!-- Modal inline template-->
			<script type="text/ng-template"
				id="/modalEliminarEstablecimiento.html">
           	<div class="modal-header">
				<button type="button" data-dismiss="modal" aria-hidden="true" class="close"></button>
				<h4 id="myModalLabel" class="modal-title">Eliminar evento</h4>
			</div>
			<div class="modal-body">ｿDesea eliminar el establecimiento?</div>
			<div class="modal-footer">
				<button ng-click="ok(establecimiento.idEstablecimientoDeportivo)" class="btn btn-primary">OK</button>
				<button ng-click="cancel()" class="btn btn-warning">Cancel</button>
			</div>
           </script>
		</div>
	</div>
</div>
	<script src="app/js/Modules/Controllers/InformacionPerfilController.js"></script>
