<h3>Eventos</h3>
<div  class="container-fluid">
	<button ng-click="registrar()" class="btn btn-primary" ><span class="fa fa-plus"></span></button>
    <div class="row">
        <div class="col-lg-12">
            <div ng-controller="EventosController" class="container-fluid">
                <div id="uigrid-demo" ui-grid="gridEventos" class="table-uigrid"></div>
            </div>
        </div>
    </div>
</div>

<script src="app/js/Modules/Controllers/EventosController.js"></script>