<h3>
    Bienvenido a la aplicación que te ayuda a disfrutar del deporte
</h3>
<!-- START widgets box-->
<div class="row" ng-controller="IndexController" >
    <div class="col-lg-3 col-sm-6">
        <div class="panel bg-info-light pt b0 widget">
            <div class="ph">
                <em class="fa fa-home fa-lg pull-right"></em>
                <div class="h2 mt0">Establecimientos</div>
                <p>Busca tu establecimiento mas cercano.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <!-- START widget-->
        <div class="panel bg-success-light pt b0 widget">
            <div class="ph">
                <em class="fa fa-chain-broken fa-lg pull-right"></em>
                <div class="h2 mt0">Reservaciones</div>
                <p>Reserva en tu establecimiento favorito.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <!-- START widget-->
        <div class="panel bg-danger-light pt b0 widget">
            <div class="ph">
                <em class="icon-fire fa-lg pull-right"></em>
                <div class="h2 mt0">Retos</div>
                <p>Busca retos en linea, juega y conoce a nuevas personas.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12" ng-click="ConsultarEventos()">
        <!-- START widget-->
        <div class="panel widget bg-purple-light pt b0 widget">
            <div class="ph">
                <em class="fa fa-flag-checkered fa-lg pull-right"></em>
                <div class="h2 mt0">Eventos</div>
                 <p>Eventos masivos, participa y consigue fácil y rapido tu inscripción.</p>
            </div>
        </div>
    </div>
<!-- END widgets box-->

<!-- START Widgets-->
<div class="row">
    <div class="col-lg-3">
        <!-- START messages and activity-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Actividades mixtas</div>
            </div>
            <!-- START list group-->
            <div class="list-group">
                <!-- START list group item-->
                <div class="list-group-item">
                    <div class="media-box">
                        <div class="pull-left">
                     <span class="fa-stack">
                        <em class="fa fa-circle fa-stack-2x text-purple"></em>
                        <em class="fa fa-flag-checkered fa-stack-1x fa-inverse text-white"></em>
                     </span>
                        </div>
                        <div class="media-box-body clearfix">
                            <small class="text-muted pull-right ml">15m</small>
                            <div class="media-box-heading"><a href="#" class="text-purple m0">Ciclismo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END list group item-->
                <!-- START list group item-->
                <div class="list-group-item">
                    <div class="media-box">
                        <div class="pull-left">
                     <span class="fa-stack">
                        <em class="fa fa-circle fa-stack-2x text-info"></em>
                        <em class="fa fa-flag-checkered fa-stack-1x fa-inverse text-white"></em>
                     </span>
                        </div>
                        <div class="media-box-body clearfix">
                            <small class="text-muted pull-right ml">2h</small>
                            <div class="media-box-heading"><a href="#" class="text-info m0">Aguas abiertas</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END list group item-->
                <!-- START list group item-->
                <div class="list-group-item">
                    <div class="media-box">
                        <div class="pull-left">
                     <span class="fa-stack">
                        <em class="fa fa-circle fa-stack-2x text-danger"></em>
                        <em class="icon-fire fa-stack-1x fa-inverse text-white"></em>
                     </span>
                        </div>
                        <div class="media-box-body clearfix">
                            <small class="text-muted pull-right ml">5h</small>
                            <div class="media-box-heading"><a href="#" class="text-danger m0">Reto en desamparados</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END list group item-->
                <!-- START list group item-->
                <div class="list-group-item">
                    <div class="media-box">
                        <div class="pull-left">
                     <span class="fa-stack">
                        <em class="fa fa-circle fa-stack-2x text-success"></em>
                        <em class="fa fa-clock-o fa-stack-1x fa-inverse text-white"></em>
                     </span>
                        </div>
                        <div class="media-box-body clearfix">
                            <small class="text-muted pull-right ml">15h</small>
                            <div class="media-box-heading"><a href="#" class="text-success m0">Evento abierto de paintball</a>
                            </div>
                            <p class="m0">
                                <small>On
                                    <em>10/12/2015 08:00 am</em>
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- END list group item-->
            </div>
            <!-- END list group-->
            <!-- START panel footer-->
            <div class="panel-footer clearfix">
                
            </div>
            <!-- END panel-footer-->
        </div>
        <!-- END messages and activity-->
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right label label-danger">4</div>
                <div class="panel-title">Establecimientos cercanos</div>
            </div>
            <!-- START list group-->
            <scrollable height="230" class="list-group">
                <!-- START list group item-->
                <a href="#" class="list-group-item">
                    <div class="media-box">
                        <div class="pull-left">
                            <img src="app/img/cancha.jpg" alt="Image" class="media-box-object img-circle thumb32" />
                        </div>
                        <div class="media-box-body clearfix">
                            <small class="pull-right"></small>
                            <strong class="media-box-heading text-primary">
                                <span class="circle circle-success circle-lg text-left"></span>Cancha San Lorenzo</strong>
                            <p class="mb-sm">
                                <small>Abierto</small>
                            </p>
                        </div>
                    </div>
                </a>
                <!-- END list group item-->
                <!-- START list group item-->
                <a href="#" class="list-group-item">
                    <div class="media-box">
                        <div class="pull-left">
                            <img src="app/img/paint.jpg" alt="Image" class="media-box-object img-circle thumb32" />
                        </div>
                        <div class="media-box-body clearfix">
                            <small class="pull-right"></small>
                            <strong class="media-box-heading text-primary">
                                <span class="circle circle-success circle-lg text-left"></span>Underground paintball</strong>
                            <p class="mb-sm">
                                <small>Abierto</small>
                            </p>
                        </div>
                    </div>
                </a>
                <!-- END list group item-->
                <!-- START list group item-->
                <a href="#" class="list-group-item">
                    <div class="media-box">
                        <div class="pull-left">
                            <img src="app/img/cancha3.jpg" alt="Image" class="media-box-object img-circle thumb32" />
                        </div>
                        <div class="media-box-body clearfix">
                            <small class="pull-right"></small>
                            <strong class="media-box-heading text-primary">
                                <span class="circle circle-danger circle-lg text-left"></span>Cancha el cristo</strong>
                            <p class="mb-sm">
                                <small>Cerrado</small>
                            </p>
                        </div>
                    </div>
                </a>
                <!-- END list group item-->
                <!-- START list group item-->
                <a href="#" class="list-group-item">
                    <div class="media-box">
                        <div class="pull-left">
                            <img src="app/img/cancha2.jpg" alt="Image" class="media-box-object img-circle thumb32" />
                        </div>
                        <div class="media-box-body clearfix">
                            <small class="pull-right"></small>
                            <strong class="media-box-heading text-primary">
                                <span class="circle circle-danger circle-lg text-left"></span>Fut5 sabanilla</strong>
                            <p class="mb-sm">
                                <small>Cerrado</small>
                            </p>
                        </div>
                    </div>
                </a>
                <!-- END list group item-->
                <!-- START list group item-->
            </scrollable> 
            <!-- START panel footer-->
            <div class="panel-footer">
                <label class="form-control input-sm">¡Para reservar o ver información por favor registrate es gratis!</label>
            </div>
            <!-- END panel-footer-->
        </div>
    </div>
    <!-- END dashboard sidebar-->
</div>
<!-- END Widgets-->

<script src="app/js/Modules/Controllers/IndexController.js"></script>