<div class="row" ng-controller="ModificarEstablecimientoController">
   <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
   <div class="panel panel-default">
	   <div class="panel-heading"></div>
	   <div class="panel-body">
		   <form name="formModificarEstablecimiento" ng-submit="submitForm()" novalidate="" class="form-validate form-horizontal">
            <legend>Modificar establecimiento deportivo</legend>
			<div class="col-sm-6">
				<!-- START panel-->
				<div class="">
				   <div class="panel-heading">Información general</div>
				   <div class="panel-body">
				        <div class="form-group">
				           <label class="col-lg-3 control-label">Nombre</label>
				           <div class="col-lg-9">
				              <input type="text" name="nombre" required="" ng-model="Establecimiento.nombre" class="form-control" />
				              <span ng-show="validateInput('nombre', 'required')" class="text-danger">Este campo es requerido</span>
				           </div>
				        </div>
				        <div class="form-group">
				           <label class="col-lg-3 control-label">Teléfono</label>
				           <div class="col-lg-9">
	                           <input type="text" name="telefono" required="" ng-model="Establecimiento.telefono" class="form-control" />
	                           <span ng-show="validateInput('telefono', 'required')" class="text-danger">Este campo es requerido</span>
				           </div>
				        </div>
				        <div class="form-group">
				           <label class="col-lg-3 control-label">Página web</label>
				           <div class="col-lg-9">
	                           <input type="url" name="paginaWeb" required="" ng-model="Establecimiento.paginaWeb" placeholder="http://ejemplo.com" class="form-control" />
	                           <span ng-show="validateInput('paginaWeb', 'url')" class="text-danger">Este campo debe ser un url válido</span>
				           </div>
				        </div>
				   </div>
				</div>
				<!-- END panel-->
			</div>
			<div class="col-sm-6">
				<!-- START panel-->
				<div class="">
				   <div class="panel-heading">Localización</div>
				   <div class="panel-body">
				        <div class="form-group">
				           <label class="col-lg-3 control-label">Dirección</label>
				           <div class="col-lg-9">
				              <input type="text" name="direccion" required="" ng-model="Establecimiento.direccion" class="form-control" />
				              <span ng-show="validateInput('direccion', 'required')" class="text-danger">Este campo es requerido</span>
				           </div>
				        </div>
				        <div class="form-group">
							<label class="col-lg-3 control-label">Provincia</label>
				           <div class="col-lg-9">
							   <select name="cmbProvincias" required=""  ng-model="idProvincia" class="chosen-select input-md form-control" ng-options="provincia.idProvincia as provincia.provincia for provincia in Provincias" ng-change="buscarCantones()">
							   </select>
							   <span ng-show="validateInput('cmbProvincias', 'required')" class="text-danger">Este campo es requerido</span>
							</div>
				        </div>
				        <div class="form-group">
				           <label class="col-lg-3 control-label">Cantón</label>
				           <div class="col-lg-9">
							   <select name="cmbCantones" required="" ng-model="idCanton" class="chosen-select input-md form-control" ng-options="canton.idCanton as canton.canton for canton in Cantones" ng-change="buscarDistritos()">
							   </select>
							   <span ng-show="validateInput('cmbProvincias', 'required')" class="text-danger">Este campo es requerido</span>
				           </div>
				        </div>
				        <div class="form-group">
				           <label class="col-lg-3 control-label">Distrito</label>
				           <div class="col-lg-9">
							   <select name="cmbDistritos" required="" ng-model="Establecimiento.distrito.idDistrito" class="chosen-select input-md form-control" ng-options="distrito.idDistrito as distrito.distrito for distrito in Distritos">
							   </select>
							   <span ng-show="validateInput('cmbProvincias', 'required')" class="text-danger">Este campo es requerido</span>
				           </div>
				        </div>
				   </div>
				</div>
				<!-- END panel-->
			</div>          
           <div class="text-center">
           <button type="submit" class="btn btn-info">Modificar</button>
           </div>                     
         </form>
	   </div>
   </div>
</div>
<script src="app/js/Modules/Controllers/ModificarEstablecimientoController.js"></script>