<div class="row" ng-controller="ModificarEstablecimientoController">
   <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
   <div class="panel panel-default">
	   <div class="panel-heading"></div>
	   <div class="panel-body">
		   <form name="formModificarEstablecimiento" ng-submit="submitForm()" novalidate="" class="form-validate form-horizontal" ng-controller="ModificarEstablecimientoController">
            <legend>Modificar establecimiento deportivo</legend>
			<div class="col-sm-6">
				<!-- START panel-->
				<div class="">
				   <div class="panel-heading">Información general</div>
				   <div class="panel-body">
				        <div class="form-group">
				           <label class="col-lg-3 control-label">Nombre</label>
				           <div class="col-lg-9">
				              <input type="text" name="nombre" required="" ng-model="Establecimiento.nombre" class="form-control" />
				              <span ng-show="validateInput('nombre', 'required')" class="text-danger">Este campo es requerido</span>
				           </div>
				        </div>
				        <div class="form-group">
				           <label class="col-lg-3 control-label">Teléfono</label>
				           <div class="col-lg-9">
	                           <input type="text" name="telefono" required="" ng-model="Establecimiento.telefono" class="form-control" />
	                           <span ng-show="validateInput('telefono', 'required')" class="text-danger">Este campo es requerido</span>
				           </div>
				        </div>
				        <div class="form-group">
				           <label class="col-lg-3 control-label">Página web</label>
				           <div class="col-lg-9">
	                           <input type="url" name="paginaWeb" required="" ng-model="Establecimiento.paginaWeb" placeholder="http://ejemplo.com" class="form-control" />
	                           <span ng-show="validateInput('paginaWeb', 'url')" class="text-danger">Este campo debe ser un url valido</span>
				           </div>
				        </div>
				   </div>
				</div>
				<!-- END panel-->
			</div>
			<div class="col-sm-6">
				<!-- START panel-->
				<div class="">
				   <div class="panel-heading">Localización</div>
				   <div class="panel-body">
				        <div class="form-group">
				           <label class="col-lg-3 control-label">Dirección</label>
				           <div class="col-lg-9">
				              <input type="text" name="direccion" required="" ng-model="Establecimiento.direccion" class="form-control" />
				              <span ng-show="validateInput('direccion', 'required')" class="text-danger">Este campo es requerido</span>
				           </div>
				        </div>
				        <div class="form-group">
							<label class="col-lg-3 control-label">Provincia</label>
				           <div class="col-lg-9">
							   <select name="cmbProvincias" required="" value="Provincias" ng-model="provincias.idProvincia" class="chosen-select input-md form-control">
							       <option ng-click="buscarCantones(provincia)" ng-repeat="provincia in Provincias" value="{provincia.idProvincia}}">
							           {{provincia.provincia}}
							       </option>
							   </select>
							</div>
				        </div>
				        <div class="form-group">
				           <label class="col-lg-3 control-label">Cantón</label>
				           <div class="col-lg-9">
							   <select name="cmbCantones" required="" value="Cantones" ng-model="cantones.idCanton" class="chosen-select input-md form-control">
							       <option ng-click="buscarDistritos(canton)" ng-repeat="canton in Cantones" value="{{canton.idCanton}}">
							           {{canton.canton}}
							       </option>
							   </select>
				           </div>
				        </div>
				        <div class="form-group">
				           <label class="col-lg-3 control-label">Distrito</label>
				           <div class="col-lg-9">
							   <select name="cmbDistritos" required="" value="Distritos" ng-model="distrito.idDistrito" class="chosen-select input-md form-control">
							       <option ng-repeat="distrito in Distritos" value="{{distrito.idDistrito}}">
							           {{distrito.distrito}}
							       </option>
							   </select>
				           </div>
				        </div>
				   </div>
				</div>
				<!-- END panel-->
			</div>          
           <div class="text-center">
               <button type="submit" class="btn btn-info">Modificar</button>
           </div>                     
         </form>
	   </div>
   </div>
</div>
<script src="app/js/Modules/Controllers/ModificarEstablecimientoController.js"></script>