<h3>Centros de distribución</h3>
<div class="col-lg-12 container-fluid"
	<div ng-controller="AsociarController">
	<div>
		<toaster-container
			toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>	           		
		<fieldset>
			<div class="row">
				<div class="col-lg-12">
					<div class="col-md-6">
						<div class="input-group">
							<span class="input-group-addon"><em class="icon-magnifier"></em></span>
							<input id="busquedaNombre" placeholder="Buscar..." type="text"
								class="form-control" ng-model="search" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<form name="formCentroDistribucion"  ng-submit="submitForm()">
								<div class="input-group">
							   		<select name="cmbCentros" required="" ng-model="idCentroDistribucion" class="chosen-select input-md form-control" ng-options="centro.idCentroDistribucion as centro.nombre for centro in Centros">
							   		</select>
							   		<span ng-show="validateInput('cmbCentros', 'required')" class="text-danger">Este campo es requerido</span>  
							   		<span class="input-group-btn">
										<button type="submit" class="btn btn-success">Asociar</button>
									</span>                     
                     			</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</div>
	</div>
	<div class="row">
	<div ng-controller="DistribucionController" class="col-lg-12">
  	<div class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title"><Puntos de retiro</div>
         </div>
	<div>
	   <scrollable height="230" class="list-group">
       <div ng-repeat="centro in centros | filter:search:strict">
         <div class="media bb p">
            <small class="pull-right text-muted"></small>
            <div class="pull-left"></div>
            <div class="media-body">
               <span class="media-heading">
                  <p class="m0">
                  	<div ui-sref="app.perfil({mid: establecimiento.idEstablecimientoDeportivo})">
                       <button  class="btn btn-sm btn-primary pull-right fa fa-search"></button>
                    </div> 
                    <h4>{{centro.idCentro.nombre}}</h4>
                  </p>
               </span>
               <p class="mb-sm">
               		<div class="col-lg-6">
                    	<label>Dirección:</label>
                        <small>{{centro.idCentro.direccion}}</small><br>
                        <label>Teléfono:</label>
                        <small>{{centro.idCentro.telefono}}</small><br>
                    </div>
             		<div class="col-lg-6">
                    	<label>Correo:</label>
                        <small>{{centro.idCentro.correo}}</small><br>
                    </div>
              </p>
             </div>
          </div>
        </div>
        </scrollable>
		</div>
		</div>
  		</div>
		
	</div>

<script src="app/js/Modules/Controllers/DistribucionController.js"></script>