<div>
    <!-- Modal inline template-->
    <script type="text/ng-template" id="/myInscripcionModalContent.html">
        <div class="modal-header">
            <h4 id="myModalLabel" class="modal-title">{{accion+" Inscripción"}}</h4>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" novalidate="" name="inscripcion">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Nombre</label>
                        <div class="col-lg-10">
                            <input name="nombre" ng-model="inscripcionForm.nombre" type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Punto de retiro:</label>
                        <div class="col-lg-10">
                            <select>
                                
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Telefono</label>
                        <div class="col-lg-10">
                            <input name="telefono" ng-model="inscripcionForm.telefono" type="text" class="form-control"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-show="accion == 'Registrar' " ng-click="inscripcionForm.registrar()"type="submit" class="btn btn-primary"> {{accion}} </button>
            <button ng-show="accion == 'Modificar' " ng-click="inscripcionForm.modificar()"type="submit" class="btn btn-primary"> {{accion}} </button>
            <button ng-click="cancel()" class="btn btn-warning">Cancel</button>
        </div>
    </script>

</div>

<div class="unwrap">
   <div style="background-image: url(app/img/cancha2.jpg)" class="bg-cover">
      <div class="p-xl text-center text-white">

         <h3 class="m0">{{evento.nombre}}</h3>
         <p>Evento Deportivo</p>
      </div>
   </div>
   <div class="text-center bg-gray-dark p-lg mb-xl">
      <div class="row row-table">
         <div class="col-xs-6 br">
            <h3 class="m0">{{evento.cantVisitas}}</h3>
            <p class="m0">
               <span class="hidden-xs">Visitas de</span>
               <span>perfil</span>
            </p>
         </div>
         <div class="col-xs-6 br">
            <h3 class="m0">{{cantMeGusta}}</h3>
            <p class="m0">Me gusta</p>
         </div>
      </div>
   </div>
   <div class="p-lg">
      <div class="row">
         <div class="col-lg-9">
            <div id="panelDemo15" class="panel panel-default">
               <div class="panel-body">
                  <tabset type="pills">
                     <tab heading="Informacion">
                        <!-- START timeline-->
                        <ul class="timeline">
                           <!-- START timeline item DERECHA-->
                           <li class="timeline-inverted">
                                   <div>
                                       <form method="post" action="" class="mt">
                                          <textarea placeholder="Escribe un comentario..." rows="1" class="form-control no-resize"></textarea>
                                       </form>
                                       <br>
                                       <button class="btn btn-danger">Agregar</button>
                                       <br>
                                       <br>
                                    </div>
                              <div class="timeline-panel">
                                 <div class="popover right">
               <scrollable height="250">
                                    <div class="arrow"></div>
                                    <div class="popover-content">
                                       <div class="table-grid table-grid-align-middle mb">
                                          <div class="col">
                                             <p class="m0">
                                                <a href="#" class="text-muted">
                                                   <strong>Comentarios</strong>
                                          </div>
                                       </div>
                                       <p class="text-muted mv">Come    nta sobre este evento deportivo</p>
                                       <div class="media bb p">
                                          <small class="pull-right text-muted"></small>
                                          <div class="pull-left">
                                          </div>
                                          <div class="media-body">
                                 <span class="media-heading">
                                    <p class="m0">
                                       <a href="#">
                                          <strong>Mauricio Araica</strong>
                                       </a>
                                    </p>
                                    <p class="m0 text-muted">Estuvo muy tuanis nos trataron bien.</p>
                                 </span>
                                          </div>
                                       </div>
                                       <div class="media bb p">
                                          <small class="pull-right text-muted"></small>
                                          <div class="pull-left">
                                          </div>
                                          <div class="media-body">
                                 <span class="media-heading">
                                    <p class="m0">
                                       <a href="#">
                                          <strong>Estaban Lopez</strong>
                                       </a>
                                    </p>
                                    <p class="m0 text-muted">El mejor trato lo recomiendo :)</p>
                                 </span>
                                          </div>
                                       </div>
                                       <div class="media bb p">
                                          <small class="pull-right text-muted"></small>
                                          <div class="pull-left">
                                          </div>
                                          <div class="media-body">
                                 <span class="media-heading">
                                    <p class="m0">
                                       <a href="#">
                                          <strong>Juanma Viales</strong>
                                       </a>
                                    </p>
                                    <p class="m0 text-muted">No vengan nunca</p>
                                 </span>
                                              </scrollable>
                                          </div>
                                       </div>
                                 </div>
                              </div>
                           </li>
                           <!-- END timeline item-->
                           <!-- START timeline item-->
                           <li>
                              <div class="timeline-panel">
                                 <div class="popover left">
                                    <div class="arrow"></div>
                                    <div class="popover-content">
                                       <div class="table-grid table-grid-align-middle mb">
                                          <div class="col col-xs">
                                          </div>
                                          <div class="col">
                                             <p class="m0">
                                                <strong>Recorrido del evento.</strong></p>
                                          </div>
                                       </div>
                                       <div id="map" ng-controller="GMapController">
                                          <div ui-map="myMap5" ui-options="mapOptions5" class="gmap"></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </li>
                           <!-- END timeline item-->
                        </ul>
                        <!-- END timeline-->
                     </tab>
                     <tab heading="Ediciones anteriores">
                        <h4 class="page-header">Fotografías</h4>
                        <div class="row-masonry row-masonry-md-4 row-masonry-sm-2">
                           <div class="col-masonry">
                              <p class="text-center text-muted">
                              </p>
                              <img src="app/img/bg1.jpg" alt="" class="img-thumbnail img-responsive" />
                           </div>
                           <div class="col-masonry">
                              <p class="text-center text-muted">
                              </p>
                              <img src="app/img/bg4.jpg" alt="" class="img-thumbnail img-responsive" />
                           </div>
                           <div class="col-masonry">
                              <p class="text-center text-muted">
                              </p>
                              <img src="app/img/bg2.jpg" alt="" class="img-thumbnail img-responsive" />
                           </div>
                           <div class="col-masonry">
                              <p class="text-center text-muted">
                              </p>
                              <img src="app/img/bg5.jpg" alt="" class="img-thumbnail img-responsive" />
                           </div>
                           <div class="col-masonry">
                              <p class="text-center text-muted">
                              </p>
                              <img src="app/img/bg6.jpg" alt="" class="img-thumbnail img-responsive" />
                           </div>
                           <div class="col-masonry">
                              <p class="text-center text-muted">
                              </p>
                              <img src="app/img/bg7.jpg" alt="" class="img-thumbnail img-responsive" />
                           </div>
                           <div class="col-masonry">
                              <p class="text-center text-muted">
                              </p>
                              <img src="app/img/bg8.jpg" alt="" class="img-thumbnail img-responsive" />
                           </div>
                           <div class="col-masonry">
                              <p class="text-center text-muted">
                              </p>
                              <img src="app/img/bg9.jpg" alt="" class="img-thumbnail img-responsive" />
                           </div>
                        </div>
                     </tab>
                  </tabset>
               </div>
            </div>

         </div>
         <div class="col-lg-3">
            <div class="panel panel-default">
               <div class="panel-body">
                  <div class="text-center">
                     <h3 class="mt0">{{evento.nombre}}</h3>
                     <p>Evento Deportivo</p>
                  </div>
                  <hr/>
                  <ul class="list-unstyled ph-xl">
                     <li>
                        <em class="fa fa-home fa-fw mr-lg"></em>{{evento.direccion}}</li>
                     <li>
                        <em class="fa fa-briefcase fa-fw mr-lg"></em><a href="#">{{evento.website}}</a>
                     </li>
                     <li>
                        <em class="fa fa-phone fa-fw mr-lg"></em><a href="#">{{evento.telefono}}</a>
                     </li>
                     <li>
                        <em class="fa fa-money fa-fw mr-lg"></em><a href="#">{{evento.costo}}</a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-body">
                  <div class="text-center">
                     <h3 class="mt0">Regístrese acá</h3>
                      <button ng-click="registrarInscripcion()" class="btn btn-danger" ng-controller="InscripcionModalController">Inscripción</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>       
</div>

<script src="app/js/Modules/Controllers/PerfilEventoController.js"></script>
          
