<div ng-controller="ServicioModalController">

	<toaster-container
		toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
	<div class="row">
		<!-- Modal inline template-->
		<script type="text/ng-template" id="/myServicioModalContent.html">
            <div class="modal-header">
                <h4 id="myModalLabel" class="modal-title">{{accion+" Servicio"}}</h4>
            </div>
            <div>
                <div class="panel-body">
                    <form>
							<div class="form-group col-lg-12">
							<div class="col-lg-6">
								<div>
                           			 <label class=" control-label">Servicio</label>
                            		 <input ng-model="servicioForm.servicio" type="text"  class="form-control" />
                            	</div>
								<div>
                            		<label  control-label">Actividad deportiva</label>
									<div ng-controller="ComboActividadDeportivaController">
                                		<select ng-change="changed()" name="cmbActividad" required="" ng-model="idActividadDeportiva" class="chosen-select input-md form-control" ng-options="actividad.idActividadDeportiva as actividad.actividadDeportiva for actividad in actividadesDeportivas">
                                        </select>
									</div>
                        		</div>
								<div>
                            		<label  control-label">Tipo de servicio</label>
									<div ng-controller="ComboTipoServicioController">
                                		<select ng-change="changed()" name="cmbTipo" required="" ng-model="idTipoServicio" class="chosen-select input-md form-control" ng-options="tipoServicio.idTipoServicio as tipoServicio.tipoServicio for tipoServicio in tipoServicios">
                                        </select>
									</div>
                        		</div>
								<div>
                            		<label control-label">Hora de apertura</label> 
                                	<div ng-controller="TimepickerDemoCtrl">
										<timepicker ng-model="servicioForm.horaApertura" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
									</div>
                        		</div>
								
							</div>

							<div class="col-lg-6">
                        		<div>
                            		<label class=" control-label">Precio</label>
                            		<input ng-model="servicioForm.precio" type="text"  class="form-control" />
                       			</div>
								<div>
                            		<label control-label">Arbitro</label>
                                	<select ng-model="servicioForm.arbitro" type="text"  class="form-control">
										<option value="1">Sí</option>
										<option value="0">No</option>
									</select>
                        		</div>
								<div>
                            		<label control-label">Hora de cierre</label>
                                	<div ng-controller="TimepickerDemoCtrl">
										<timepicker ng-model="servicioForm.horaCierre" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
									</div>
                        		</div>								
							</div> 
						</div>
					</form>

                </div>
            </div>
            <div class="modal-footer">
                <button ng-hide="accion != 'Registrar' " ng-click="servicioForm.registrar()"type="submit" class="btn btn-primary"> {{accion}} </button>
                <button ng-hide="accion != 'Modificar' " ng-click="servicioForm.modificar()"type="submit" class="btn btn-primary"> {{accion}} </button>
                <button ng-click="cancel()" class="btn btn-warning">Cancelar</button>
            </div>
        </script>
		<fieldset>
        <div class="row">
        	<div class="col-lg-12">
          		<div class="col-md-6">
          			<div class="input-group">
          				<span class="input-group-addon"><em class="icon-magnifier"></em></span>
            			<input id="busquedaNombre" placeholder="Buscar..." type="text" class="form-control" ng-model="search.nombre"/>
          			</div>
          		</div>
          		<div class="col-md-6">
          			<div class="form-group">
                    	<button ng-show="validarUsuarioId(InformacionPerfilCtrl.establecimiento)" ng-click="registrar()" class="btn btn-labeled btn-success" ><span class="btn-label"><em class="fa fa-plus"></em></span>Registrar</button>
                    </div>
          		</div>
         	</div>
        </div>
       	</fieldset>
	</div>
</div>
<div class="row">
	<div>
		<div ng-controller="ServicioController">
			<div ui-grid-pagination="" ui-grid="gridServicio" class="table-uigrid"></div>
		</div>
	</div>
</div>
<script src="app/js/Modules/Controllers/ServicioController.js"></script>