<div class="unwrap" ng-controller="PerfilEventoController">
   <div style="background-image: url(app/img/maraton.jpg)" class="bg-cover">
      <div class="p-xl text-center text-white">
         <h3 class="m0">{{evento.nombre}}</h3>
         <p>Evento deportivo</p>
         <p>{{evento.informacion}}</p>
      </div>
   </div>
   <div class="text-center bg-gray-dark p-lg mb-xl">
      <div class="row row-table">
         <div class="col-xs-6 br">
            <h3 class="m0">400</h3>
            <p class="m0">
               <span class="hidden-xs">Visitas de</span>
               <span>perfil</span>
            </p>
         </div>
         <div class="col-xs-6 br">
            <h3 class="m0">2000</h3>
            <p class="m0">Me gusta</p>
         </div>
      </div>
   </div>
   <div class="p-lg">
      <div class="row">
         <div class="col-lg-9">
            <div id="panelDemo15" class="panel panel-default">
               <div class="panel-body">
                 <ul class="nav nav-tabs nav-justified">
					<li><a ng-click="mostrarInformacion()">Información</a></li>	
					<li><a ng-click="mostrarPuntosDeRetiro()">Puntos de retiro</a></li>
				</ul>
               </div>
               <div ui-view="" class="col"> </div>
            </div>
         </div>
         <div class="col-lg-3">
            <div class="panel panel-default">
               <div class="panel-body">
                  <div class="text-center">
                     <h3 class="mt0">{{evento.nombre}}</h3>
                     <p>Evento deportivo</p>
                  </div>
                  <hr/>
                  <ul class="list-unstyled ph-xl">
                     <li>
                        <em class="fa fa-hand-o-right fa-fw mr-lg"></em>{{evento.direccion}}</li>
                     <li>
                        <em class="fa fa-dollar fa-fw mr-lg"></em>{{tiquete.estado}}</li>
                     <li>
                        <em class="fa fa-calendar fa-fw mr-lg"></em>{{evento.fecha}}</li>
                  </ul>
                  <button class="btn btn-success">Suscribase aqui!</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script src="app/js/Modules/Controllers/PerfilEventoController.js"></script>