<div ng-controller="ServicioModalController">
	<div>
		<!-- Modal inline template-->
		<script type="text/ng-template" id="/myServicioModalContent.html">
            <div class="modal-header">
                <h4 id="myModalLabel" class="modal-title">{{accion+" Servicio"}}</h4>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Servicio</label>
                            <div class="col-lg-10">
                                <input ng-model="servicioForm.servicio" type="text"  class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Actividad deportiva</label>
                            <div class="col-lg-10">
                                <select ng-model="servicioForm.actividadDeprotiva" type="text"  class="form-control">
									<option value="1">Futból</option>
									<option value="2">Basket</option>
								</select>
                            </div>
                        </div>
						<div class="form-group">
                            <label class="col-lg-2 control-label">Tipo de Servicio</label>
                            <div class="col-lg-10">
                                <select ng-model="servicioForm.tipoServicio" type="text"  class="form-control"
									ng-options="tipo.tipoServicio for tipo in tipoServicios">
								</select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Precio</label>
                            <div class="col-lg-10">
                                <input ng-model="servicioForm.precio" type="text"  class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Hora de apertura</label>
                            <div class="col-lg-10">
                                <div ng-controller="TimepickerDemoCtrl">
									<timepicker ng-model="servicioForm.horaApertura" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
								</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Hora de cierre</label>
                            <div class="col-lg-10">
                                <div ng-controller="TimepickerDemoCtrl">
									<timepicker ng-model="servicioForm.horaCierre" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
								</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Arbitro</label>
                            <div class="col-lg-10">
                                <select ng-model="servicioForm.arbitro" type="text"  class="form-control">
									<option value="1">Sí</option>
									<option value="0">No</option>
								</select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-hide="accion != 'Registrar' " ng-click="servicioForm.registrar()"type="submit" class="btn btn-primary"> {{accion}} </button>
                <button ng-hide="accion != 'Modificar' " ng-click="servicioForm.modificar()"type="submit" class="btn btn-primary"> {{accion}} </button>
                <button ng-click="cancel()" class="btn btn-warning">Cancelar</button>
            </div>
        </script>
		<button ng-click="registrar()" class="btn btn-primary">
			<span class="fa fa-plus"></span>
		</button>
	</div>
</div>

<div ng-controller="ServicioController">
	<div id="uigrid-demo" ui-grid="gridServicio" class="table-uigrid"></div>
</div>

<script src="app/js/Modules/Controllers/ServicioController.js"></script>