<h4 class="page-header">Instalaciones</h4>
                        <div class="row-masonry row-masonry-md-4 row-masonry-sm-2">
                           <div class="col-masonry">
                              <p class="text-center text-muted">
                                 <strong>Cancha de Futbol 5</strong>
                              </p>
                              <img src="app/img/bg1.jpg" alt="" class="img-thumbnail img-responsive" />
                           </div>
                           <div class="col-masonry">
                              <p class="text-center text-muted">
                                 <strong>Cancha de Futbol 7</strong>
                              </p>
                              <img src="app/img/bg4.jpg" alt="" class="img-thumbnail img-responsive" />
                           </div>
                           <div class="col-masonry">
                              <p class="text-center text-muted">
                                 <strong>Cancha de Futbol 11</strong>
                              </p>
                              <img src="app/img/bg2.jpg" alt="" class="img-thumbnail img-responsive" />
                           </div>
                           <div class="col-masonry">
                              <p class="text-center text-muted">
                                 <strong>Gimnasio</strong>
                              </p>
                              <img src="app/img/bg5.jpg" alt="" class="img-thumbnail img-responsive" />
                           </div>
                           <div class="col-masonry">
                              <p class="text-center text-muted">
                                 <strong>Piscina</strong>
                              </p>
                              <img src="app/img/bg6.jpg" alt="" class="img-thumbnail img-responsive" />
                           </div>
                           <div class="col-masonry">
                              <p class="text-center text-muted">
                                 <strong>Spa</strong>
                              </p>
                              <img src="app/img/bg7.jpg" alt="" class="img-thumbnail img-responsive" />
                           </div>
                           <div class="col-masonry">
                              <p class="text-center text-muted">
                                 <strong>Cafeteria</strong>
                              </p>
                              <img src="app/img/bg8.jpg" alt="" class="img-thumbnail img-responsive" />
                           </div>
                           <div class="col-masonry">
                              <p class="text-center text-muted">
                                 <strong>Souvenirs</strong>
                              </p>
                              <img src="app/img/bg9.jpg" alt="" class="img-thumbnail img-responsive" />
                           </div>
                        </div>