
<div class="row" ng-controller="EstablecimientosFormController">
   <div class="panel panel-default">
	   <div class="panel-heading"></div>
	   <div class="panel-body">
	   		<form name="formEstablecimiento" ng-submit="submitForm()" novalidate="" class="form-validate form-horizontal">
               <div class="panel-body">
                  <fieldset class="b0">
                     <legend>Registrar establecimiento deportivo</legend>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-6">
                           <input type="text" name="nombre" required="" ng-model="establecimiento.nombre" class="form-control" />
                           <span ng-show="validateInput('nombre', 'required')" class="text-danger">Este campo es requerido</span>
                        </div>                        
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">Direccion</label>
                        <div class="col-sm-6">
                           <input type="text" name="direccion" required="" ng-model="establecimiento.direccion" class="form-control" />
                           <span ng-show="validateInput('direccion', 'required')" class="text-danger">Este campo es requerido</span>
                        </div>                        
                     </div>
                  </fieldset>
                  <fieldset>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">Telefono</label>
                        <div class="col-sm-6">
                           <input type="number" name="telefono" required="" ng-model="establecimiento.telefono" class="form-control" />
                           <span ng-show="validateInput('telefono', 'required')" class="text-danger">Este campo es requerido</span>
                           <span ng-show="validateInput('telefono', 'number')" class="text-danger">Este campo debe ser un numero valido</span>
                        </div>
                     </div>
                  </fieldset>
                  <fieldset class="bb0">
                     <div class="form-group">
                        <label class="col-sm-2 control-label">Pagina Web</label>
                        <div class="col-sm-6">
                           <input type="url" name="pagina" required="" ng-model="establecimiento.pagina" placeholder="protocol://" class="form-control" />
                           <span ng-show="validateInput('pagina', 'url')" class="text-danger">Este campo debe ser un url valido</span>
                        </div>	
                     </div>
                  </fieldset>
                  <div class="text-center">
                  	<button type="submit" class="btn btn-info">Registrar</button>
               	  </div>
               </div>                       
         </form>
	   </div>
   </div>
</div>