<div ng-controller="RegistrarFormController" class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img src="app/img/opi.png" alt="Image" class="block-center img-rounded" />
         </a>
      </div>
      <div class="panel-body">
         <form role="form" name="formUsuario" novalidate="" ng-submit="submitForm()" class="form-validate mb-lg">
         	<legend>Registro</legend>
            <div class="form-group has-feedback">
               <label class="text-muted">Correo electrónico</label>
               <input type="email" name="correo" placeholder="Enter email" autocomplete="off" ng-model="usuarioForm.correo" required="" class="form-control" />
               <span ng-show="validateInput('correo', 'required')" class="text-danger">Este campo es requerido</span>
            </div>
            <div class="form-group has-feedback">
               <label class="text-muted">Contraseña</label>
               <input id="id-password" type="password" name="contrasenna" ng-model="usuarioForm.contrasenna" ng-pattern="/^[a-zA-Z0-9]{6,10}$/" required="" class="form-control" />
               <span ng-show="validateInput('contrasenna', 'pattern')" class="text-danger">This field must contain only letters</span>
            </div>
            <div class="form-group has-feedback">
               <label class="text-muted">Confirmar contraseña</label>
               <input type="password" name="account_password_confirm" ng-model="usuarioForm.confirmarContrasenna" ui-validate="'$value==usuarioForm.contrasenna'" ui-validate-watch="'contrasenna'" class="form-control" />
            </div>
            <legend>Datos Personales</legend>
            <div class="form-group has-feedback">
               <label class="text-muted">Nombre</label>
               <input type="text" name="nombre" ng-model="usuarioForm.nombre" required="" class="form-control" />
               <span ng-show="validateInput('nombre', 'required')" class="text-danger">Este campo es requerido</span>
            </div>
            <div class="form-group has-feedback">
               <label class="text-muted">Apellidos</label>
               <input type="text" name="apellido" ng-model="usuarioForm.apellido" required="" class="form-control" />
               <span ng-show="validateInput('apellido', 'required')" class="text-danger">Este campo es requerido</span>
            </div>
            <div class="form-group has-feedback">
               <label class="text-muted">Teléfono</label>
               <input type="text" masked="" data-inputmask="'mask': ' 9999-9999'" name="telefono" required="" ng-model="usuarioForm.telefono" class="form-control" />
               <span ng-show="validateInput('telefono', 'required')" class="text-danger">Este campo es requerido</span>
            </div>
            <button type="submit" class="btn btn-block btn-primary mt-lg">Registrar usuario</button>
         </form>
         <p class="pt-lg text-center">¿Ya tiene cuenta?</p><a ui-sref="app.login" class="btn btn-block btn-default">Iniciar sessión</a>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy; </span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>