<h3 translate="" class="text-center text-thin">Registrar</h3>
<div class="col-sm-12">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading"></div>
         <div class="panel-body">
            <form class="form-horizontal">
               <div class="form-group">
                  <div class="col-lg-12">
                     <input type="email" placeholder="Correo" class="form-control" />
                  </div>
               </div>
                
               <div class="form-group">
                  <div class="col-lg-12">
                     <input type="text" placeholder="Nombre" class="form-control" />
                  </div>
               </div>
                
               <div class="form-group">
                  <div class="col-lg-12">
                     <input type="text" placeholder="Apellido" class="form-control" />
                  </div>
               </div>
                
               <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                    <div class="radio c-radio c-radio-nofont">
                        <label>
                        <input type="radio" name="genero" value="option1" />
                        <span></span>Masculino</label>
                    </div>
                    <div class="radio c-radio c-radio-nofont">
                        <label>
                        <input type="radio" name="genero" value="option1" />
                        <span></span>Femenino</label>
                    </div>
                    <div class="radio c-radio c-radio-nofont">
                        <label>
                        <input type="radio" name="genero" value="option1" />
                        <span></span>Otro</label>
                    </div>
                  </div>
               </div>
                
                <div class="form-group">
                  <div class="col-lg-12">
                     <input type="date" placeholder="Fecha de nacimiento" class="form-control" />
                  </div>
               </div>
                
               <div class="form-group">
                  <div class="col-lg-12">
                     <input type="password" placeholder="Contraseña" class="form-control" />
                  </div>
               </div>
                
                <div class="form-group">
                  <div class="col-lg-12">
                     <input type="password" placeholder="Confrimar contraseña" class="form-control" />
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-lg-12">
                     <button type="submit" class="btn btn-success">Registrar</button>
                  </div>
               </div>
            </form>
         </div>
      </div>

